.mat-dialog-content {
  padding: 8px 20px;
}

.mat-slider {
  padding-left: 0;
}

.save {
  background: #88b14b !important;
}

.edit-btn {
  width: 100px;
}

.edit-btn:hover {
  transition: .3s all linear;
}
